
//- header#header
//-   nav.navbar.navbar-expand-lg.navbar-light.fixed-top
//-       a.navbar-brand(href='#')
//-         img(src='assets/images/logo.png' alt='ideasgate logo' height='70')
//-       button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
//-         span.navbar-toggler-icon
//-       #navbarSupportedContent.collapse.navbar-collapse.overlay
//-         ul.navbar-nav.ml-auto.pr-3.overlay-content.cl-effect-15
//-           li.nav-item.active
//-             a.nav-link(href='index.html')
//-               | الرئيسية
//-               span.sr-only (current)
//-             li.nav-item
//-               a.nav-link(href='about.html') من نحن 
//-             li.nav-item
//-               a.nav-link(href='services.html') خدماتنا 
//-             li.nav-item
//-               a.nav-link(href='portfolio.html') أعمالنا 
//-             li.nav-item
//-               a.nav-link(href='contact.html') أتصل بنا 
//-         form.form-inline.my-2.my-lg-0(method='get' action='design-order.html')
//-           button#contactForm.btn.my-2.my-sm-0.btn-red(type='submit')
            | اطلب تصميمك

block link
    -var selected = 'الرئيسية'; //default

    -var menu = { 'الرئيسية': '/index.html',  'من نحن': '/about.html','خدماتنا': '/services.html','أعمالنا': '/portfolio.html', 'أتصل بنا': '/contact.html' };


header#header
  nav.navbar.navbar-expand-lg.navbar-light.fixed-top
      a.navbar-brand(href='#')
        img(src='assets/images/logo.png' alt='ideasgate logo' height='70')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse.overlay
        ul.navbar-nav.ml-auto.pr-3.overlay-content.cl-effect-15
          each val, key in menu
              if selected === key
                li.nav-item.active
                  a(href=val, title=key,class="nav-link")= key
              else
                li.nav-item
                  a(href=val, title=key,class="nav-link")= key
        form.form-inline.my-2.my-lg-0(method='get' action='design-order.html')
            button#contactForm.btn.my-2.my-sm-0.btn-red(type='submit')
              | اطلب تصميمك