section#pagetitles
    block title
         - var theTitle = titleVar ? titleVar : "من نحن"
    section#titleslider
        section#slider
            section.slides
                section.slide.is-active
                    .slide__content
                        figure.slide__figure
                            .slide__img(style='background-image: url(https://source.unsplash.com/nfTA8pdaq9A/2000x1100)')
                        header.slide__header
                            h2.slide__title
                                span.title-line
                                    span #{title}