@media screen and (max-width:768px){
.slide__content {
    position: relative;
    margin: 0 auto;
    height: 90%;
    width: 85%;
    top: 6.5%;
}
.slide__img {
    background-size: cover!important;
}
}