.app{
  position:relative;
}
// loading
#preloader{
  position:fixed;
  width: 100%;
  height: 100%;
  z-index:20000;
  background: #fff;
background-attachment: fixed;
}

.cssload-dots {
  width: 0;
  height:0;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  outline: 1px solid red;
  filter: url(#goo);
  -o-filter: url(#goo);
  -ms-filter: url(#goo);
  -webkit-filter: url(#goo);
  -moz-filter: url(#goo);

}

.cssload-dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;

  &:before {
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 49px;
    background: rgb(251, 211, 1);
    position: absolute;
    left: 50%;
    transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    margin-left: -17.5px;
    margin-top: -17.5px;
  }

  &:nth-child(5):before {
    z-index: 100;
    width: 44.5px;
    height: 44.5px;
    margin-left: -21.75px;
    margin-top: -21.75px;
    animation: cssload-dot-colors 4.6s ease infinite;
    -o-animation: cssload-dot-colors 4.6s ease infinite;
    -ms-animation: cssload-dot-colors 4.6s ease infinite;
    -webkit-animation: cssload-dot-colors 4.6s ease infinite;
    -moz-animation: cssload-dot-colors 4.6s ease infinite;
  }

  &:nth-child(1) {
    animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;

    &:before {
      background-color: rgb(255, 50, 112);
      animation: cssload-dot-move 4.6s 0s ease infinite;
      -o-animation: cssload-dot-move 4.6s 0s ease infinite;
      -ms-animation: cssload-dot-move 4.6s 0s ease infinite;
      -webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
      -moz-animation: cssload-dot-move 4.6s 0s ease infinite;
    }
  }

  &:nth-child(2) {
    animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;

    &:before {
      background-color: rgb(32, 139, 241);
      animation: cssload-dot-move 4.6s 1.15s ease infinite;
      -o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
      -ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
      -webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
      -moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
    }
  }

  &:nth-child(3) {
    animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;

    &:before {
      background-color: rgb(175, 225, 2);
      animation: cssload-dot-move 4.6s 2.3s ease infinite;
      -o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
      -ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
      -webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
      -moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
    }
  }

  &:nth-child(4) {
    animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;

    &:before {
      background-color: rgb(251, 211, 1);
      animation: cssload-dot-move 4.6s 3.45s ease infinite;
      -o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
      -ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
      -webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
      -moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
    }
  }
}

@keyframes cssload-dot-move {
  0% {
    transform: translateY(0);
  }

  18%, 22% {
    transform: translateY(-68px);
  }

  40%, 100% {
    transform: translateY(0);
  }
}

@-o-keyframes cssload-dot-move {
  0% {
    -o-transform: translateY(0);
  }

  18%, 22% {
    -o-transform: translateY(-68px);
  }

  40%, 100% {
    -o-transform: translateY(0);
  }
}

@-ms-keyframes cssload-dot-move {
  0% {
    -ms-transform: translateY(0);
  }

  18%, 22% {
    -ms-transform: translateY(-68px);
  }

  40%, 100% {
    -ms-transform: translateY(0);
  }
}

@-webkit-keyframes cssload-dot-move {
  0% {
    -webkit-transform: translateY(0);
  }

  18%, 22% {
    -webkit-transform: translateY(-68px);
  }

  40%, 100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes cssload-dot-move {
  0% {
    -moz-transform: translateY(0);
  }

  18%, 22% {
    -moz-transform: translateY(-68px);
  }

  40%, 100% {
    -moz-transform: translateY(0);
  }
}

@keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }

  25% {
    background-color: rgb(255, 50, 112);
  }

  50% {
    background-color: rgb(32, 139, 241);
  }

  75% {
    background-color: rgb(175, 225, 2);
  }

  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-o-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }

  25% {
    background-color: rgb(255, 50, 112);
  }

  50% {
    background-color: rgb(32, 139, 241);
  }

  75% {
    background-color: rgb(175, 225, 2);
  }

  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-ms-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }

  25% {
    background-color: rgb(255, 50, 112);
  }

  50% {
    background-color: rgb(32, 139, 241);
  }

  75% {
    background-color: rgb(175, 225, 2);
  }

  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-webkit-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }

  25% {
    background-color: rgb(255, 50, 112);
  }

  50% {
    background-color: rgb(32, 139, 241);
  }

  75% {
    background-color: rgb(175, 225, 2);
  }

  100% {
    background-color: rgb(251, 211, 1);
  }
}

@-moz-keyframes cssload-dot-colors {
  0% {
    background-color: rgb(251, 211, 1);
  }

  25% {
    background-color: rgb(255, 50, 112);
  }

  50% {
    background-color: rgb(32, 139, 241);
  }

  75% {
    background-color: rgb(175, 225, 2);
  }

  100% {
    background-color: rgb(251, 211, 1);
  }
}

@keyframes cssload-dot-rotate-1 {
  0% {
    transform: rotate(-105deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@-o-keyframes cssload-dot-rotate-1 {
  0% {
    -o-transform: rotate(-105deg);
  }

  100% {
    -o-transform: rotate(270deg);
  }
}

@-ms-keyframes cssload-dot-rotate-1 {
  0% {
    -ms-transform: rotate(-105deg);
  }

  100% {
    -ms-transform: rotate(270deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
  }
}

@-moz-keyframes cssload-dot-rotate-1 {
  0% {
    -moz-transform: rotate(-105deg);
  }

  100% {
    -moz-transform: rotate(270deg);
  }
}

@keyframes cssload-dot-rotate-2 {
  0% {
    transform: rotate(165deg);
  }

  100% {
    transform: rotate(540deg);
  }
}

@-o-keyframes cssload-dot-rotate-2 {
  0% {
    -o-transform: rotate(165deg);
  }

  100% {
    -o-transform: rotate(540deg);
  }
}

@-ms-keyframes cssload-dot-rotate-2 {
  0% {
    -ms-transform: rotate(165deg);
  }

  100% {
    -ms-transform: rotate(540deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
  }

  100% {
    -webkit-transform: rotate(540deg);
  }
}

@-moz-keyframes cssload-dot-rotate-2 {
  0% {
    -moz-transform: rotate(165deg);
  }

  100% {
    -moz-transform: rotate(540deg);
  }
}

@keyframes cssload-dot-rotate-3 {
  0% {
    transform: rotate(435deg);
  }

  100% {
    transform: rotate(810deg);
  }
}

@-o-keyframes cssload-dot-rotate-3 {
  0% {
    -o-transform: rotate(435deg);
  }

  100% {
    -o-transform: rotate(810deg);
  }
}

@-ms-keyframes cssload-dot-rotate-3 {
  0% {
    -ms-transform: rotate(435deg);
  }

  100% {
    -ms-transform: rotate(810deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
  }

  100% {
    -webkit-transform: rotate(810deg);
  }
}

@-moz-keyframes cssload-dot-rotate-3 {
  0% {
    -moz-transform: rotate(435deg);
  }

  100% {
    -moz-transform: rotate(810deg);
  }
}

@keyframes cssload-dot-rotate-4 {
  0% {
    transform: rotate(705deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

@-o-keyframes cssload-dot-rotate-4 {
  0% {
    -o-transform: rotate(705deg);
  }

  100% {
    -o-transform: rotate(1080deg);
  }
}

@-ms-keyframes cssload-dot-rotate-4 {
  0% {
    -ms-transform: rotate(705deg);
  }

  100% {
    -ms-transform: rotate(1080deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
  }

  100% {
    -webkit-transform: rotate(1080deg);
  }
}

@-moz-keyframes cssload-dot-rotate-4 {
  0% {
    -moz-transform: rotate(705deg);
  }

  100% {
    -moz-transform: rotate(1080deg);
  }
}


//===== slider====

// fonts
$font-header: 'Tajawal', sans-serif;
$font-nav : 'Tajawal', sans-serif;
// colors
$color-dark: #111;
$color-border: #ccc;
$color-trans-bg: #ededed;
// easings
$ease-cb: cubic-bezier(.4,0,.2,1);
$ease-cb-2: cubic-bezier(.19,1,.22,1);
$ease-cb-3: cubic-bezier(.77,0,.175,1);
$ease-cb-4: cubic-bezier(.99,1,.92,1);
// padding
$pad: 3em;
// mqs
$mq-med: 54em;
$mq-large: 65em;
$mq-xlarge: 91em;


//------------------------------
//  nth-trans-delay()
//  Transition Delay on nth-childs
//  @param: $delay_items: number of nth-of-type items to create
//  @param: $delay_time: transition-dealy value
//-----------------------------
@mixin nth-trans-delay($delay_items: 7, $delay_time: 0.2s){
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {   
     transition-delay: $delay_time * $i; 
    }
  }
}

//-------------------------------
//  Body, prevent scrolling
//-------------------------------
body{
  height: 100%;
}

//-------------------------------
//  Slides Nav
//-------------------------------
.slides-nav{
  z-index: 99;
  // position: fixed;
  position: absolute;
  // Grimey, not sure why
  // 0 isn't working
  right: -5%;
  display: flex;
  align-items: center;
  height: 100%;
  color: $color-dark;
  
  @media (min-width: $mq-med){
    right: 3%;
  }

  &__nav{
    position: relative;
    right: 0;
    display: block;
    font-size: 1em;
    transform: rotate(90deg);
    transform-origin: center;
  }

  button{
    position: relative;
    display:inline-block;
    padding: 0.35em;
    margin: 0;
    font-family: $font-nav;
    appearance: none;
    background:transparent;
    border: 0;
    overflow-x:hidden;
    transition: color 0.5s ease;
    color: $color-dark;
    &:after{
      content:'';
      position: absolute;
      top: 50%;
      left: 0;
      height:1px;
      width: 0;
      background: $color-dark;
      transition: width 0.4s ease;
    }
    &:hover{
      cursor:pointer;
      color: rgba($color-dark, 0.75);
      transition: color 0.5s ease;
    }
    &:hover:after{
      width:100%;
      transition: width 0.4s ease;
    }
    // Yeah... I know
    &:focus{
      outline: 0;
    }
  }
  // If is Sliding, prevent 
  // double clicks
  .is-sliding &{
    pointer-events:none;
  }
}

//-------------------------------
//  Slides
//-------------------------------
.slides{
  position: relative;
  display: block;
  height: 100vh;
  width:100%;
  background: #fff;
  transition: background 1s $ease-cb-4;

  .is-sliding &{
    background: $color-trans-bg;
    transition: background 0.3s $ease-cb-4;
  }
}

//-------------------------------
//  Single Slide
//-------------------------------
$slide-content-size-sm: 95%;
$slide-content-size: 80%;
$slide-custom-width:70%;
.slide{
  z-index: -1;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: z-index 1s ease;
  
  // Bring active layer to foreground
  &.is-active{
    z-index: 19;
    transition: z-index 1s ease;
  }

  &__content{
    position: relative;
    margin: 0 auto;
    height: $slide-content-size-sm;
    width: $slide-content-size-sm;
    top: (100% - $slide-content-size-sm) / 2;
    
    @media (min-width: $mq-med){
      height: $slide-content-size;
      width: $slide-custom-width;
      // top: (100% - $slide-content-size) / 2;
      top:17%;
      right: 4%;
    }
  }

  &__header{
    z-index: 9;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    transform: translateX(5%);
    justify-content: flex-end;
    @media (min-width: $mq-med){
      transform: translateX(-5%);
    }
  }

  &__title{
    font-family: $font-header;
    font-size: 2.5em;
    font-weight: 700;
    color: $color-dark;
    overflow-y: hidden;
    
    @media (min-width: $mq-med){
      font-size: 4em;
    }
     
    // Slice text animation
    .title-line{
      display: block;
      overflow-y: hidden;

      span{
        display: inline-block;
        transform:translate3d(0,140%,0);
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.8s ease;
        @include nth-trans-delay(2, 0.15s);
      }

      .is-active & span{
        transform:translate3d(0,0%,0);
        opacity: 1;
        transition: transform 0.6s $ease-cb-3, opacity 0.1s ease;
      }
      .is-active &:nth-of-type(2n) span{
        transition-delay:0.2s;
      }
    }
  }
  
  // Image wrapper
  &__figure{
    z-index: 7;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    //overflow-y: hidden;
    transition: transform 0.5s $ease-cb-2;
     
    // Scale Image
    .is-sliding &{
      transform: scale(0.8);
      transition: transform 0.5s $ease-cb-2;
    }
  }
  &__img{
    position: relative;
    display: block;
    // background-size: cover;
    background-size:contain;
    background-attachment: fixed;
    // background-position: 50%;
    background-position: 37% 49%;
     -webkit-backface-visibility: hidden;
     //will-change:height;
    height: 0%;
    width: 100%;
    filter: grayscale(0%);
    transition: height 1s 1.4s $ease-cb-2, filter 0.4s 0.1s ease;
    border-radius: 0 50% 0 50%; 
    .is-active &{
      height: 100%;
      opacity: 1;
      transition: height .5s .3s $ease-cb-3, filter 0.4s 0.1s ease;
    }
    .is-sliding &{
      filter: grayscale(100%);
    }
  }
}
#about{
    // background:rgb(244, 244, 245);
    @include customPadding(120px);
 .bg-image {
   &::after{
   height: 100vh;
  background-size: cover;
    content: "";
    background: url(/assets/images/06_STILL_LIFE_265_V3_Master_OP2.jpg);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-position: 50%;
    border-radius: 50% 0;
  }
  
}
.content {
  padding: 5% 8%;
  h1{
      padding-bottom: 20px;
  }
  p{
    margin-bottom:2rem;
  }
  .more {
    width: 120px;
    height: 48px;
    background: $orange-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color:#000;
}
}
}
//services
#services{
 @include customPaddingXY(0px,0,120px,0);
 [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 60px;}
}
.service {
  background: #000;
  text-align: center;
  padding: 10px;
  margin: 20px;
  min-height: 260px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.service a{
  color:#fff;
}

// clients

#clients{
  @include customPadding(90px);
  // background: #ededed;
  .bg-image {
    &::after{
    height: 100vh;
   background-size: contain;
     content: "";
     background: url(/assets/images/06_STILL_LIFE_265_V3_Master_OP2.jpg);
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;   
     background-position: 50%;
     border-radius: 50% 0;
   }
}
.clients-container {
  padding: 50px;
}
.clients-title {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  h1{
    font-size:3rem;
  }
}
}

//services

#services{
  // @include customPadding(90px);

  .icon-block {
    color: #000;
    padding: 60px 20px;
    box-shadow: 0 3px 15px #4c4c4d26;
    background-color: #fff;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    .whyicon i {
      color:$orange-color;
    }
}
}

//portfolio
#portfolio,#portfolio-inner {
  @include customPaddingXY(90px,0,60px,0);
background: #000;
background-image: url(/assets/images/portfolio_bg.jpg);
background-attachment: fixed;
background-size: cover;
  .cbp-l-filters-text-sort,.cbp-l-filters-text .cbp-filter-item,.cbp-l-loadMore-button .cbp-l-loadMore-link, .cbp-l-loadMore-button .cbp-l-loadMore-button-link
   {
     font-family: $font;
     font-size: 16px;
  }
  .cbp-l-loadMore-button .cbp-l-loadMore-link, .cbp-l-loadMore-button .cbp-l-loadMore-button-link {
    width: 138px;
    font: inherit;
    outline: 0;
    margin-top: 40px;
    box-shadow: none;
    -webkit-transition: color .25s;
    transition: color .25s;
    border:0;
    align-items: center;
    font-weight: bold;
}
.cbp-l-grid-agency-desc {
  font: inherit;
  color: $orange-color;
  text-align: center;
  font-size: 14px;
}
.cbp-l-grid-agency-title {
  margin-top: 18px;
  font: 700 17px/24px "Tajawal", sans-serif;
  color: #fff;
  text-align: center;
}
.cbp-l-filters-text-sort{
  color:#fff;
}
.cbp-l-filters-text .cbp-filter-item.cbp-filter-item-active {
  color: #f0932b;}
  .cbp-l-filters-text .cbp-filter-item {
    color: #fbfbfb;}
}

//contact

#contact-info{
  @include customPaddingXY(60px,0,60px,0);
  .contact-info.icon-block {

    padding:0 7%;
    min-height: 110px;
}
span.icon {
  float: right;
  margin-left: 20px;
    min-height: 65px;
}

.contact-title {
  margin:0px 0 50px;
  padding-right: 24px;
}
}