.inner{
 #portfolio {
    background: transparent;
    padding-top: 0;
}
#portfolio .cbp-l-filters-text .cbp-filter-item, #portfolio-inner .cbp-l-filters-text .cbp-filter-item {
    color: #0b0e19;
}
#portfolio .cbp-l-filters-text .cbp-filter-item.cbp-filter-item-active, #portfolio-inner .cbp-l-filters-text .cbp-filter-item.cbp-filter-item-active {
    color: #f0932b;
}
}