#services-inner {
  @include customPaddingXY(60px,0,120px,0);
  .bg-image {
    &::after {
    height: 100vh;
    content: "";
    background: url(/assets/images/542.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-position: 50%;
    border-radius: 50% 0;
    background-size: cover;
    }
  }
 
}
#designInner
 {
  @include customPaddingXY(120px,0,120px,0);
}
#designInner {
  .bg-image {
    &::after {
      height: 100vh;
      content: "";
      background: url(/assets/images/design-service.jpg);
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      background-position: 50%;
      border-radius: 50% 0;
      background-size: cover;
    }
  }
}
#marketingInner{
  @include customPaddingXY(0px,0,90px,0);
    .bg-image {
        &::after {
          height: 100vh;
          content: "";
          background: url(/assets/images/marketing.jpg);
          opacity: 0.5;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
          background-position: 50%;
          border-radius: 50% 0;
          background-size: cover;
        }
      }
}
.graphicsub{
  h6{
    font-weight: 600;
  }
}