extends ../layouts/default-layout.pug
block content
  // about section
  section#about
    .inner
        .container-fluid
            .row
                .col-lg-6
                    .content 
                        h1 ايديز
                            span(style="color:#f0932b;padding-right:5px;") جيت
                        p شركة متخصصة لصناعة الأفكار الإبداعية تهدف لإبتكار الحلول والوسائل المتكاملة القادرة على الوصول بأعمالكم الى مستويات الاحترافية و التميز ، وتعني ايديز جيت بشكل خاص بتقديم حلول الانترنت المتكاملة 
                        h3 رسالتنا
                        p نشر ثقافة الإبداع والإبتكار في تأسيس المشاريع وتهيئة البيئة المناسبة لكافة التخصصات عن طريق أنظمة البرمجة و التصميم وتسويق المشاريع بإستخدام أدوات التواصل الاجتماعي.
                        h3 رؤيتنا
                        p تقديم الأفكار الإبداعية التي تتخطى توقعاتكم
                        h3 أهدافنا
                        ul.goals
                            li تحقيق الإبداع و الإبتكار في مجتمع الأعمال
                            li توفير بيئة خدمية متكاملة لرواد الأعمال
                            li الوصول بالأعمال لأعلى مستويات التقدم عن طريق تنفيذ خطط تسويقية و دعائية مبتكرة.
                .col-lg-6(class="bg-image")