extends ../layouts/default-layout.pug
block content
  section#slider
    section.slides
      section.slides-nav
        nav.slides-nav__nav
          button.slides-nav__prev.js-prev السابق
          button.slides-nav__next.js-next التالى
      section.slide.is-active
        .slide__content
          figure.slide__figure
            .slide__img(style='background-image: url(https://source.unsplash.com/nfTA8pdaq9A/2000x1100)')
          header.slide__header
            h2.slide__title
              span.title-line
                span نقدم أفكار ابداعية 
              span.title-line
                span تتخطى توقعاتكم
      section.slide
        .slide__content
          figure.slide__figure
            .slide__img(style='background-image: url(https://source.unsplash.com/okmtVMuBzkQ/2000x1100)')
          header.slide__header
            h2.slide__title
              span.title-line
                span نقدم أفكار ابداعية
              span.title-line
                span تتخطى توقعاتكم
      section.slide
        .slide__content
          figure.slide__figure
            .slide__img(style='background-image: url(https://source.unsplash.com/WuQME0I_oZA/2000x1100)')
          header.slide__header
            h2.slide__title
              span.title-line
                span نقدم أفكار ابداعية
              span.title-line
                span تتخطى توقعاتكم
      section.slide
        .slide__content
          figure.slide__figure
            .slide__img(style='background-image: url(https://source.unsplash.com/NsWcRlBT_74/2000x1100)')
          header.slide__header
            h2.slide__title
              span.title-line
                span نقدم أفكار ابداعية
              span.title-line
                span تتخطى توقعاتكم
  // about section
  section#about
   .container-fluid
    .row
      .col-lg-6
        .content 
          h1 ايديز
            span(style="color:#f0932b;padding-right:5px;") جيت
          p شركة متخصصة لصناعة الأفكار الإبداعية تهدف لإبتكار الحلول والوسائل المتكاملة القادرة على الوصول بأعمالكم الى مستويات الاحترافية و التميز ، وتعني ايديز جيت بشكل خاص بتقديم حلول الانترنت المتكاملة 
          h3 رسالتنا
          p نشر ثقافة الإبداع والإبتكار في تأسيس المشاريع وتهيئة البيئة المناسبة لكافة التخصصات عن طريق أنظمة البرمجة و التصميم وتسويق المشاريع بإستخدام أدوات التواصل الاجتماعي.
          a.btn-orange(href="#") المزيد
      .col-lg-6(class="bg-image")
  
  
  //services section
  section#services
    .container
      .row
        .col-lg-4.text-center
          a(href='services.html')
            .icon-block
              .whyicon
                i.flaticon-theme
              h3 تصميم المواقع

        .col-lg-4.text-center
          a(href='services.html')
              .icon-block
                .whyicon
                  i.flaticon-graphic-design
                h3 جرافيك

        .col-lg-4.text-center
          a(href='services.html')
              .icon-block
                .whyicon
                  i.flaticon-banner
                h3 تسويق
  

  //portfolio section
  section#portfolio
    .container
      .row
        .col-lg-12
          #js-filters-agency.cbp-l-filters-text
            .cbp-l-filters-text-sort ترتيب بواسطة:
            .cbp-filter-item-active.cbp-filter-item(data-filter='*')
              | الكل
              .cbp-filter-counter
            |  |
            .cbp-filter-item(data-filter='.web-design')
              | تصميم مواقع 
              .cbp-filter-counter
            |  |
            .cbp-filter-item(data-filter='.graphic')
              | جرافيك
              .cbp-filter-counter
            |  |
            .cbp-filter-item(data-filter='.marketing')
              | تسويق إلكترونى 
              .cbp-filter-counter
          #js-grid-agency.cbp.cbp-l-grid-agency
            .cbp-item.graphic.web-design
              a(href='#' target='_blank')
                .cbp-caption
                  .cbp-caption-defaultWrap
                    img(src='data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' data-cbp-src='/assets/images/portfolio/website-1.jpg' alt='' width='380' height='250')
                .cbp-l-grid-agency-title Beyazc
                .cbp-l-grid-agency-desc تصميم مواقع / جرافيك
            .cbp-item.web-design.marketing
              a(href='#' target='_blank')
                .cbp-caption
                  .cbp-caption-defaultWrap
                    img(src='data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' data-cbp-src='http://scriptpie.com/cubeportfolio/img/?i=380x250/b611ec' alt='' width='380' height='250')
                .cbp-l-grid-agency-title World Clock Widget
                .cbp-l-grid-agency-desc تسويق إلكترونى / تصميم مواقع
            .cbp-item.graphic.marketing
              a(href='#' target='_blank')
                .cbp-caption
                  .cbp-caption-defaultWrap
                    img(src='data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' data-cbp-src='http://scriptpie.com/cubeportfolio/img/?i=380x250/494bfe' alt='' width='380' height='250')
                .cbp-l-grid-agency-title To-Do Dashboard
                .cbp-l-grid-agency-desc جرافيك / تسويق إلكترونى
            .cbp-item.web-design.graphic
              a(href='#' target='_blank')
                .cbp-caption
                  .cbp-caption-defaultWrap
                    img(src='data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' data-cbp-src='http://scriptpie.com/cubeportfolio/img/?i=380x250/35fadd' alt='' width='380' height='250')
                .cbp-l-grid-agency-title Events and More
                .cbp-l-grid-agency-desc تصميم مواقع / جرافيك
            .cbp-item.graphic.marketing
              a(href='#' target='_blank')
                .cbp-caption
                  .cbp-caption-defaultWrap
                    img(src='data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' data-cbp-src='http://scriptpie.com/cubeportfolio/img/?i=380x250/b08497' alt='' width='380' height='250')
                .cbp-l-grid-agency-title Seemple* Music for iPad
                .cbp-l-grid-agency-desc جرافيك / تسويق إلكترونى
            .cbp-item.graphic
              a(href='#' target='_blank')
                .cbp-caption
                  .cbp-caption-defaultWrap
                    img(src='data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' data-cbp-src='http://scriptpie.com/cubeportfolio/img/?i=380x250/0cf7a7' alt='' width='380' height='250')
                .cbp-l-grid-agency-title Remind~Me More
                .cbp-l-grid-agency-desc   جرافيك
            
          
          #js-loadMore-agency.cbp-l-loadMore-button
            a.cbp-l-loadMore-link(href='#' rel='nofollow')
              span.cbp-l-loadMore-defaultText.btn-orange عرض المزيد
              span.cbp-l-loadMore-loadingText جار التحميل...
              span.cbp-l-loadMore-noMoreLoading لا يوجد اعمال أخرى
  // clients section
  section#clients
    .container-fluid
      .row
        .col-lg-6(class="bg-image")
          .clients-title
            h1 شركاء
              span(style="color:#f0932b;padding-right:5px;")  النجاح
        .clients-container.col-lg-6
          .row
            .col-lg-6
              .client-logo
                img(src="/assets/images/clients/client-1.png")
            .col-lg-6
              .client-logo
                img(src="/assets/images/clients/client-2.png")
            .col-lg-6
              .client-logo
                img(src="/assets/images/clients/client-3.png")
            .col-lg-6
              .client-logo
                img(src="/assets/images/clients/client-4.png")
            .col-lg-6
              .client-logo
                img(src="/assets/images/clients/client-1.png")
            .col-lg-6
              .client-logo
                img(src="/assets/images/clients/client-2.png")
  // contact us
  section#contact
    .container-fluid
      .row
        .col-lg-6
          #contact-info
            .row
              .col-md-6
                .contact-info.icon-block
                  .contact-title
                    h1 تواصل
                      span(style="color:#f0932b;padding-right:5px;")  معنا
              .col-md-6
                .contact-info.icon-block
                  span.icon
                    i.flaticon-location
                  h5 العنوان
                  p لوران الإسكندرية - 711 ش الحرية
              .col-md-6
                .contact-info.icon-block
                  span.icon
                    i.flaticon-email
                  h5 البريد الإلكترونى
                  p(style="font-size:17px;") info@ideasgate.com
              .col-md-6
                .contact-info.icon-block
                  span.icon
                    i.flaticon-phone(aria-hidden='true')
                  h5 تليفون
                  p(style='direction:ltr')
                    | (+20) 155 016 4774 - <br> (03) 5702005 - (03) 5703003
                    

        .col-lg-6
          #map
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d852.7699058785577!2d29.9753506291858!3d31.24621904541377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5dacd1b51ba33%3A0x5bc38ee1ddb44c5c!2z2YXYtdix2YEg2KPYqNmIINi42KjZiiDYp9mE2KXYs9mE2KfZhdmKIEFESUI!5e0!3m2!1sen!2seg!4v1571223944314!5m2!1sen!2seg' height='400' width='100%' frameborder='0' style='border:0;' allowfullscreen='')
    