extends ../layouts/default-layout.pug
block content
    //portfolio section
    section#services
        .inner
            .container
                .row
                    .col-lg-6
                        .content 
                            h3 تصميم المواقع
                            p موقعك الالكتروني هو بوابتك الاولى و الاكبر لعرض منتجك وخدماتك للوصول الى اكبر قدر ممكن من العملاء الحاليين و المحتملين.
                            p كما يمكنك الموقع من عرض اعمالك السابقة مما يضفي لنشاطك المصداقيه و يجعله محل ثقة و جاذبية للعملاء.
                            h5 نحن في ايديز جيت نصمم موقعك الاكتروني باحترافية عالية بالخصائص و الميزات الاتية:
                            ul.services-list
                                li حجز نطاق / دومين " Com .Net .Org. "
                                li استضافة بخصائص غير محدودة ومساحات مختلفة تناسب حجم عملك و نشاطك
                                li متطابق مع الهواتف المحمولة و الاجهزة اللوحيةوكل شاشات الكمبيوتر واللاب توب
                                li دعم فنى متواصل للسيرفرات او الإستفسارات
                                li لوحة تحكم للتعديل والاضافة والحذف بسهولة
                                li صديق لمحركات البحث علشان الارشفة على وغيره SEO
                                li بالاضافة للإيميلات الرسمية باسم الموقع
                    .col-lg-6(class="bg-image")
            section#designInner
                .container
                    .row.justify-content-center
                        .aboutTitles.text-center
                            h3
                                | تصميم جرافيك
                    .row
                        .col-lg-4.col-md-12
                            img.img-fluid(src='images/02.png' alt='')
                        .aboutUs.col-lg-8.col-md-12
                            .aboutContent
                                .row.pb-5
                                    .graphicsub.col-sm-12
                                        h6 تصميم مطبوعات الشركة
                                        p
                                            | بناء هوية المطبوعات للشركة بالكامل بدءا من تصميم الشعار وعمل البروفايل الخاص بالشركة وتصميم جميع مطبوعات الشركة من الكروت الشخصية و ورق المراسلات والسندات التجارية و تصميم الاغلفة والعبوات
                                    .graphicsub.col-sm-12
                                        h6 هوية إعلانية
                                        p
                                            | تنفيذ الهوية البصرية لتطبيقات الشعار والألوان على جميع مطبوعات المؤسسة والاستخدامات الدعائية

                                    .graphicsub.col-sm-12
                                        h6
                                            | تصميم شعار مميز لعلامة تجارية مميزة تبقى بالأذهان
                                        p
                                            |محترفون تصميم شعارات - لوجو - لصناعة العلامة التجارية . نقدم افكار مميزة لتصميم شعار احترافى للنشاط يتم استخدامة فى الدعاية الاعلانية للنشاط و تقدم التصميمات بدقة عالية صالحة لكافة الاستخدامات
                        .aboutUs.col-lg-8.col-md-12
                            .aboutContent
                                .row
                                    .graphicsub.col-sm-12
                                    h6 تصميم الاعلانات والدعاية المطبوعة
                                    p
                                        | تغطي خدمة تصميم الاعلانات والدعاية المطبوعة كافة التصميمات الإعلانية الاحترافية لشركتك في أى مجال. تشمل تصاميمنا لافتات داخلية وخارجية وكتيبات تعريفية (بروشور) وملصقات ونشرات ومطويات (فلاير) ولوحات المعارض و تصميم كل ما يتعلق بمطبوعات شركتك لتعزيز صورة شركتك التسويقية و للترويج عن منتجاتك وخدماتك علي أكمل وجه.
                                    .graphicsub.col-sm-12
                                    h6.pl-3.curved-text خدمة تصميم مواد دعائية

                                    p.pl-3
                                        |تقدم ايديز جيت خدمة متخصصة في تصميم المواد الدعائية والاعلانية المطبوعة والإلكترونية للشركات والأعمال الحرة. يقوم مصممي الجرافيك لدينا بتصميم كافة المواد الدعائية شاملة تصميم منشورات وإعلانات الفيسبوك ومنشورات وإعلانات إنستجرام و إعلانات جوجل وكافة المطبوعات مثل الفلاير والبروشور والكتيبات والإعلانات والورقية واللافتات الإعلانية الداخلية والخارجية. جميع تصاميمنا حسب الطلب وفقاً لخطة التسويق والإعلان الخاص بك وبأحدث وأعلى معايير تصميم الجرافيك لتعزيز مبيعاتك وتحقيق أهدافك.
                        .col-lg-4.col-md-12
                            img.img-fluid(src='images/02.png' alt='')
            section#marketingInner.sectionPadding-120.servicesinnerpage
                .container
                    .row
                        .aboutUs.col-md-12
                            .aboutContent
                                .row
                                    .intro.col-lg-5.col-md-12
                                        .aboutTitles.inner
                                            h3
                                                | تسويق
                                            p
                                                | التسويق عبر مواقع التواصل الإجتماعي يعتبر قناة تسويق إلكتروني قوية وفعالة. لذا نقوم في ايديز جيت بإدارة ومتابعة الصفحات على الفيسبوك، تويتر، انستجرام، يوتيوب، ولينكد ان وغيرها من وسائل التواصل الإجتماعي. وذلك من خلال إنشاء المحتوى المناسب وعمل التصاميم الإبداعية للمنتج حتي نصل لمظهر يجذب انتباه العملاء المستهدفين. كما نقوم بمتابعة استفسارات العملاء والرد عليهم فى أسرع وقت بلغة تعامل تتناسب مع طبيعة العميل وتعطيه الإنطباع الأفضل عن مقدمي الخدمة وعلامتك التجارية.
                                            img.img-fluid(src='images/02.png' alt='' style='\
                                            display: inherit;\
                                            height: 300px;\
                                            margin: 0 auto;\
                                            ')
                                    .serviceslist.col-lg-7.col-md-12
                                        .row
                                            .col-lg-6.col-md-6.col-sm-12
                                                .marketsub
                                                    h6
                                                        | خدمة تصميم صفحة فيسبوك

                                                    p
                                                        |يقوم خبراء التسويق الإلكتروني ومصممي الجرافيك في ايديز جيت بتصميم صفحة الفيسبوك الخاصة بنشاطك التجاري بوضع إستراتيجية شاملة بدءاً من إنشاء صفحة الفيسبوك لإدارة الصفحة من حيث المنشورات والتصاميم وكتابة المحتوى وإدارة الحملات الإعلانية الطبيعية أو المدفوعة وكل ما قد يحتاجه نشاطك التجاري للتسويق والترويج عن منتجاتك وخدماتك عبر الانترنت.
                                                .marketsub
                                                    h6  تصميم وكتابة المنشورات على الفيسبوك
                                                    p
                                                        |تغطي خدمة تصميم و كتابة منشورات الفيسبوك من ايديز جيت تصميم صور المنشورات وأغلفة لصفحة الفيسبوك وصور الملف الشخصي لشركتك بأعلى جودة لجذب الجمهور وتقديم صورة الشركة بأفضل شكل. يتم نشر التصاميم والمنشورات بمحتوى إبداعي يتسم بالاحترافية ليصل إلى أكبر عدد من العملاء وجعلهم يتفاعلون مع صفحتك.
                                                        
                                            .col-lg-6.col-md-6.col-sm-12
                                                .marketsub
                                                    h6 تصميم وإدارة صفحة الفيسبوك
                                                    p
                                                        | نقوم  بتنمية نشاطك التجاري من خلال إعداد وإدارة صفحة فيسبوك تساعدك فى العثور على عملاء جدد لشركتك وزيادة المبيعات و الأرباح. يقوم مدراء التسويق من خلال صفحة الفيسبوك بتوسيع انتشار الشركة وتعريف الجمهور بها وتعزيز خطة التسويق الالكتروني لتحقيق أهداف الشركة.

                                                .marketsub
                                                    h6
                                                        | تخطيط وإدارة حملات الفيسبوك الإعلانية
                                                    p
                                                        | من أجل تسويق إلكترونى ناجح للشركات يجب إدراج حملات فيسبوك إعلانية منظمة بشكل فعال ضمن أهداف الشركات. نحن نقوم بتخطيط وإدارة وتحليل حملات إعلانات نشاطك التجاري سواء كانت طبيعية أو مدفوعة وفقاً لأفضل ممارسات ومعايير الفيسبوك لضمان زيادة نسبة التفاعل والمشاهدة وعدد المشتركين بأقل الاسعار.

