extends ../base/base.pug
block layout
  .app
    #preloader
      .cssload-dots
        .cssload-dot
        .cssload-dot
        .cssload-dot
        .cssload-dot
        .cssload-dot
      svg(version='1.1' xmlns='http://www.w3.org/2000/svg')
        defsa
          filter#goo
            fegaussianblur(in='SourceGraphic' result='blur' stddeviation='12')
            fecolormatrix(in='blur' mode='matrix' values='1 0 0 0 0	0 1 0 0 0	0 0 1 0 0	0 0 0 18 -7' result='goo')
            // <feBlend in2="goo" in="SourceGraphic" result="mix" ></feBlend>

    .bg-shape
    include ../partials/header.pug
    block content
    include ../partials/footer.pug